.about {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0px;
  color: var(--color-text);
}

.aboutResume {
  width: 100%;
  height: 100%;
  margin: 64px 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: enterText .3s ease-in-out;
}

@keyframes enterText {
  0% { 
    opacity: 0;
    transform: translate3d(200vw, 0px, 0px);
  } 
  100% { 
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  
}

.photo {
  width: 20%;
  min-width: 300px;
  height: auto;
  animation: enterPhoto .3s ease-in-out;
}

@keyframes enterPhoto {
  0% { 
    opacity: 0;
    transform: translate3d(-100vw, 0px, 0px);
  } 
  100% { 
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.aboutTexts {
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.aboutText {
  font-size: var(--font-text-1);
  line-height: 1.5;
  color: var(--color-blue-1);
  font-weight: 500;
}

.detail, .detail2 {
  width: 100%;
  height: 128px;
  margin-bottom: -5px;
  background-image: url('./assets/detalhe.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.detail2 {
  background-image: url('./assets/detalhe2.png');
  background-position: left;
  margin-bottom: 0px;
  margin-top: -5px;
}





@media screen and (max-width: 768px) {
  .aboutResume {
    flex-direction: column;
    gap: 16px;
  }
}