.buzzvel {
  width: 100%;
  min-height: 50vh;
  height: auto;
}

.buzzvelDetail {
  width: 100%;
  height: clamp(6.75rem, 4.2692rem + 11.0256vw, 17.5rem);
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 53.65%, 2.00% 57.58%, 4.00% 61.41%, 6.00% 65.12%, 8.00% 68.68%, 10.00% 72.07%, 12.00% 75.25%, 14.00% 78.20%, 16.00% 80.90%, 18.00% 83.33%, 20.00% 85.46%, 22.00% 87.29%, 24.00% 88.80%, 26.00% 89.98%, 28.00% 90.81%, 30.00% 91.29%, 32.00% 91.43%, 34.00% 91.20%, 36.00% 90.63%, 38.00% 89.71%, 40.00% 88.45%, 42.00% 86.86%, 44.00% 84.95%, 46.00% 82.74%, 48.00% 80.24%, 50.00% 77.47%, 52.00% 74.46%, 54.00% 71.22%, 56.00% 67.79%, 58.00% 64.19%, 60.00% 60.45%, 62.00% 56.59%, 64.00% 52.64%, 66.00% 48.65%, 68.00% 44.63%, 70.00% 40.62%, 72.00% 36.65%, 74.00% 32.75%, 76.00% 28.95%, 78.00% 25.27%, 80.00% 21.76%, 82.00% 18.43%, 84.00% 15.32%, 86.00% 12.43%, 88.00% 9.81%, 90.00% 7.46%, 92.00% 5.41%, 94.00% 3.67%, 96.00% 2.26%, 98.00% 1.18%, 100.00% 0.44%);
  background-color: var(--color-black-buzzvel);
  margin-bottom: -5px;
}

.buzzvelDetail2 {
  width: 100%;
  height: clamp(6.75rem, 4.2692rem + 11.0256vw, 17.5rem);
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 53.65%, 2.00% 57.58%, 4.00% 61.41%, 6.00% 65.12%, 8.00% 68.68%, 10.00% 72.07%, 12.00% 75.25%, 14.00% 78.20%, 16.00% 80.90%, 18.00% 83.33%, 20.00% 85.46%, 22.00% 87.29%, 24.00% 88.80%, 26.00% 89.98%, 28.00% 90.81%, 30.00% 91.29%, 32.00% 91.43%, 34.00% 91.20%, 36.00% 90.63%, 38.00% 89.71%, 40.00% 88.45%, 42.00% 86.86%, 44.00% 84.95%, 46.00% 82.74%, 48.00% 80.24%, 50.00% 77.47%, 52.00% 74.46%, 54.00% 71.22%, 56.00% 67.79%, 58.00% 64.19%, 60.00% 60.45%, 62.00% 56.59%, 64.00% 52.64%, 66.00% 48.65%, 68.00% 44.63%, 70.00% 40.62%, 72.00% 36.65%, 74.00% 32.75%, 76.00% 28.95%, 78.00% 25.27%, 80.00% 21.76%, 82.00% 18.43%, 84.00% 15.32%, 86.00% 12.43%, 88.00% 9.81%, 90.00% 7.46%, 92.00% 5.41%, 94.00% 3.67%, 96.00% 2.26%, 98.00% 1.18%, 100.00% 0.44%);
  background-color: var(--color-black-buzzvel);
  margin-top: -5px;
}

.buzzvelContainer {
  width: 100%;
  height: auto;
  min-height: 50vh;
  background-color: var(--color-black-buzzvel);
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.buzzvelHeader { 
  width: 100%;
  height: auto;
  padding-left: 32px;
}

.whyBuzzvel {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  position: relative;
}

.buzzvelTitle {
  font-family: var(--font-buzzvel);
  font-size: var(--font-title-1);
  color: var(--color-blue-4);
  margin: 32px 0;
  font-weight: 800;
}

.buzzvelPortifolio {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.player { 
  width: 48px;
  height: 48px;
  object-fit: contain;
  cursor: pointer;
}

.player:hover { 
  transform: scale(0.9);
  transition: 200ms ease-in-out;
}

.whyBuzzvelHeader { 
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.timelineBuzzvel {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  position: relative;
}
